// Copy this file to config.json and fill in

{
  "web port": 80,
  "devices": [
    {
      "name": "<device name>",
      "nodes": [
        {
          "name": "<node name>",
          "com port": "COM<n>",
          "baud rate": 115200,
          "byte size": 8, // 5, 6, 7, 8
          "parity": "none", // even, odd, none
          "stop": 1, // 1, 1.5, 2
          "tcp port": 10000
        }
      ],
      "commands": "<commands module name>"
    }
  ],
}
