// Copy this file to config.json and fill in

{
  "web port": 80,
  "devices": [
    {
      "name": "<device name>",
      "nodes": [
        {
          "name": "<node name>",
          "com port": "COM<n>",
          "baud rate": 115200,
          "byte size": 8, // 5, 6, 7, 8
          "parity": "none", // even, odd, none
          "stop": 1, // 1, 1.5, 2
          "tcp port": 10000,
          "web links": ['telnet', 'ssh'], // Show a telnet link in the web UI, and an SSH PuTTY link if an ssh config block is present. Can also include 'raw' for a raw PuTTY link
          "web default visible": true, // Show by default in the web UI
          "ssh": {
            "host": "<host name>",
            "username": "<username>", // Optional
            "password": "<password>" // Optional
          }
        }
      ],
      "commands": "<commands module name>",
      "web highlighted connections": [
        "name",
        {"type": "tcp|web", "name": "name"},
      ]
    }
  ],
}
