{
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }],
    ["prismjs", {
      "languages": ["batch"],
      "plugins": ["line-numbers", "normalize-whitespace"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}